# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

In [ ]:
# эту строку можно перевести в число
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
# а эту уже нет (по крайней мере в десятичном счислении)
ups = '123a'

In [ ]:
# ValueError - тип ошибки, далее пояснение что произошло
# ----> 1 float(ups) - в каком месте кода произошла ошибка
float(ups)

Пример ошибки внутри функции

In [ ]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        total_sum += arg**2
    
    return total_sum

In [ ]:
square_sum(1, 2, 3)

In [ ]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

## Как сделать, чтобы цикл с расчетом не падал каждый раз

In [3]:
try:
    # ваш код, где может произойти ошибка
    float('123a')

except:
    # код, который выполняется в случае ошибки
    print('Error')

Error

In [4]:
data = ['90', '60', '90', '240tot']
total_sum = 0

for num in data:
    try:
        total_sum += float(num)

    except:
        print('Ошибка в данных: {}'.format(num))
    
print('Итого', total_sum)

Ошибка в данных: 240tot
Итого 240.0

Как сохранить всю информацию об ошибке?

In [1]:
# полная версия traceback
import traceback

try:
    float('123fff')

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

None
Проехали

Traceback (most recent call last):
  File "<ipython-input-1-aec2760d579a>", line 5, in <module>
    float('123fff')
ValueError: could not convert string to float: '123fff'

### Упражнение
Создайте словарь stats = {'monday': 100, 'tuesday': 200}. 

Какой тип ошибки вызовет обращение stats['wednesday']?

In [2]:
stats = {'monday': 100, 'tuesday': 200}
print(stats['wednesday'])

KeyError: 'wednesday'

### Блок finally

In [ ]:
try:
    print(stats["wednesday"])
    
except IndexError:
    print("Ошибка индекса")
    
except KeyError:
    print("Ошибка ключа")
    print(1/0)
    
finally:
    print('Эта строчка будет выполнена всегда')

### Более жизненный пример

In [37]:
with open('real_data.txt', 'r') as f:
    sum_income = 0
    for line in f:
#         print(line)
        line_lst = line.strip().split()
        
        
        try:
#             print(line_lst[3])
            if ',' in line_lst[3]:
#                 sum_income += int(line_lst[-1].replace(',', '.'))
                float_number = float(line_lst[3].replace(',', '.'))
#                 float_number = float(float_number)
#                 print(float_number, type(float_number))
                sum_income += float_number
                
            else:
                sum_income += float(line_lst[3])
        except:
            print(f'Ошибка данных: {line_lst}')
print(round(sum_income, 3))

Ошибка данных: ['05.10.16', '3:23', '1041']
Ошибка данных: ['05.10.16', '23:19', '1041']
Ошибка данных: ['01.10.16', '13:39', '1047']
Ошибка данных: ['05.10.16', '21:41', '1047']
Ошибка данных: ['04.10.16', '11:12', '1057']
Ошибка данных: ['09.10.2016T', '2:47:00', '1057']
Ошибка данных: ['01.10.16', '14:16', '1100']
Ошибка данных: ['02.10.16', '1:39', '1100']
Ошибка данных: ['02.10.16', '2:49', '1100']
Ошибка данных: ['02.10.16', '13:05', '1100']
Ошибка данных: ['03.10.16', '4:04', '1100']
Ошибка данных: ['03.10.16', '6:58', '1100']
Ошибка данных: ['03.10.16', '15:01', '1100']
Ошибка данных: ['04.10.16', '23:43', '1100']
Ошибка данных: ['05.10.16', '5:46', '1100']
Ошибка данных: ['06.10.16', '0:31', '1100']
Ошибка данных: ['06.10.16', '9:25', '1100']
Ошибка данных: ['08.10.2016T', '15:15:00', '1100']
Ошибка данных: ['04.10.16', '5:00', '1134']
Ошибка данных: ['06.10.16', '12:01', '1134']
Ошибка данных: ['01.10.16', '15:58', '1135']
Ошибка данных: ['02.10.16', '3:19', '1135']
Ошибка данных: ['02.10.16', '19:24', '1135']
Ошибка данных: ['04.10.16', '10:40', '1135']
Ошибка данных: ['06.10.16', '6:06', '1135']
Ошибка данных: ['06.10.16', '16:08', '1135']
Ошибка данных: ['08.10.2016T', '0:31:00', '1135']
Ошибка данных: ['08.10.2016T', '10:16:00', '1135']
Ошибка данных: ['08.10.2016T', '23:10:00', '1135']
Ошибка данных: ['05.10.16', '13:55', '1203']
Ошибка данных: ['06.10.16', '5:56', '1203']
Ошибка данных: ['01.10.16', '4:41', '1226']
Ошибка данных: ['03.10.16', '9:32', '1226']
Ошибка данных: ['01.10.16', '9:02', '1233']
Ошибка данных: ['01.10.16', '10:27', '1233']
Ошибка данных: ['02.10.16', '4:27', '1246']
Ошибка данных: ['02.10.16', '8:45', '1246']
Ошибка данных: ['02.10.16', '16:58', '1246']
Ошибка данных: ['02.10.16', '17:30', '1246']
Ошибка данных: ['02.10.16', '19:46', '1246']
Ошибка данных: ['03.10.16', '2:05', '1246']
Ошибка данных: ['03.10.16', '2:57', '1246']
Ошибка данных: ['03.10.16', '7:19', '1246']
Ошибка данных: ['03.10.16', '12:15', '1246']
Ошибка данных: ['03.10.16', '14:58', '1246']
Ошибка данных: ['03.10.16', '19:43', '1246']
Ошибка данных: ['04.10.16', '7:27', '1246']
Ошибка данных: ['04.10.16', '9:08', '1246']
Ошибка данных: ['04.10.16', '13:52', '1246']
Ошибка данных: ['04.10.16', '16:34', '1246']
Ошибка данных: ['05.10.16', '0:27', '1246']
Ошибка данных: ['05.10.16', '6:36', '1246']
Ошибка данных: ['05.10.16', '12:59', '1246']
Ошибка данных: ['05.10.16', '16:52', '1246']
Ошибка данных: ['05.10.16', '17:26', '1246']
Ошибка данных: ['06.10.16', '6:48', '1246']
Ошибка данных: ['08.10.2016T', '2:53:00', '1246']
Ошибка данных: ['10.10.16', '0:59', '1246']
Ошибка данных: ['02.10.16', '21:42', '1267']
Ошибка данных: ['04.10.16', '9:02', '1267']
Ошибка данных: ['04.10.16', '12:10', '1267']
Ошибка данных: ['04.10.16', '15:40', '1267']
Ошибка данных: ['04.10.16', '18:37', '1267']
Ошибка данных: ['04.10.16', '21:29', '1267']
Ошибка данных: ['05.10.16', '21:11', '1267']
Ошибка данных: ['05.10.16', '22:09', '1267']
Ошибка данных: ['06.10.16', '3:58', '1267']
Ошибка данных: ['06.10.16', '11:16', '1267']
Ошибка данных: ['06.10.16', '19:20', '1267']
Ошибка данных: ['07.10.16', '10:18', '1267']
Ошибка данных: ['08.10.2016T', '18:18:00', '1267']
Ошибка данных: ['09.10.2016T', '4:41:00', '1267']
Ошибка данных: ['09.10.2016T', '9:13:00', '1267']
Ошибка данных: ['09.10.2016T', '15:37:00', '1267']
Ошибка данных: ['09.10.2016T', '18:56:00', '1267']
Ошибка данных: ['03.10.16', '14:10', '1318']
Ошибка данных: ['03.10.16', '18:15', '1318']
Ошибка данных: ['03.10.16', '18:27', '1318']
Ошибка данных: ['04.10.16', '17:09', '1318']
Ошибка данных: ['05.10.16', '11:07', '1318']
Ошибка данных: ['06.10.16', '1:46', '1318']
Ошибка данных: ['06.10.16', '22:29', '1318']
Ошибка данных: ['07.10.16', '0:44', '1318']
Ошибка данных: ['07.10.16', '10:17', '1318']
Ошибка данных: ['07.10.16', '11:29', '1318']
Ошибка данных: ['08.10.2016T', '23:18:00', '1318']
Ошибка данных: ['09.10.2016T', '1:37:00', '1318']
Ошибка данных: ['09.10.2016T', '7:48:00', '1318']
Ошибка данных: ['09.10.2016T', '22:27:00', '1318']
Ошибка данных: ['01.10.16', '17:01', '1424']
Ошибка данных: ['03.10.16', '6:50', '1424']
Ошибка данных: ['04.10.16', '5:27', '1424']
Ошибка данных: ['04.10.16', '16:14', '1424']
Ошибка данных: ['04.10.16', '18:21', '1424']
Ошибка данных: ['05.10.16', '23:33', '1424']
Ошибка данных: ['06.10.16', '7:27', '1424']
Ошибка данных: ['07.10.16', '3:01', '1424']
Ошибка данных: ['07.10.16', '16:08', '1424']
Ошибка данных: ['07.10.16', '16:12', '1424']
Ошибка данных: ['08.10.2016T', '12:41:00', '1424']
Ошибка данных: ['08.10.2016T', '15:26:00', '1424']
Ошибка данных: ['08.10.2016T', '17:21:00', '1424']
Ошибка данных: ['09.10.2016T', '8:00:00', '1424']
Ошибка данных: ['10.10.16', '1:24', '1424']
198203147.8

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки после обновления одной из баз данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми.

### Упражнение
Посчитайте сумму выручки из третьего столбца. Пока не обращайте внимания на помноженную на миллион выручку.

1424

# Даты

In [11]:
# иногда импортируют так
import datetime

In [ ]:
# можно и так
import datetime as dt

In [13]:
# у нас будет вариант покороче (но это не одно и то же)
from datetime import datetime

In [ ]:
date_string = '09.05.2018  09:00'

In [ ]:
# сейчас date_string это просто строка
type(date_string)

In [ ]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %H:%M')

In [ ]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

In [ ]:
# теперь можем работать с датами
type(date_datetime)

In [ ]:
# получить номер года и часа
date_datetime.year, date_datetime.hour

In [ ]:
# день недели
date_datetime.weekday()

In [ ]:
# сегодня
datetime.now()

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

In [14]:
date_str = 'May 25 2017 5:00AM'
datetime.strptime(date_str, '%B %d %Y %I:%M%p')

datetime.datetime(2017, 5, 25, 5, 0)

In [18]:
date_str = '2018-09-01T09:30:00'
date = datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%S')
print(date(hour = 3))

TypeError: 'datetime.datetime' object is not callable

### Прибавление интервала к датам

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
type(start_date)

In [ ]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

In [ ]:
start_date_datetime + timedelta(days=1)

In [ ]:
start_date_datetime + timedelta(days=-7, minutes=-1)

### Упражнение
Дана дата в формате '2018-09-01T09:30:00'. Прибавьте к ней 12 часов 15минут и 3 секунды.

In [26]:
from datetime import datetime
date_str = '2018-09-01T09:30:00'
date = datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%S')
print(date + timedelta(hours = +12, minutes = +15, seconds = +3))

2018-09-01 21:45:03

### Перевод обратно в строку

In [ ]:
date = datetime(2018, 9, 1)
date

In [ ]:
date.strftime('%Y-%m-%d')

In [ ]:
date.strftime('%B %d %Y %I:%M%p')

In [ ]:
datetime.now().strftime('%Y-%m-01')

In [ ]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

In [29]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [30]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [31]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00

In [32]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

In [ ]:
current_dt = start_date_dt

while current_dt.strftime('%Y-%m-%d') <= end_date:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

### Упражнение
Напишите алгоритм, который "пробегает" период 1 до 7 сентября по часам. Формат вывода '06.01.2018 23:00:00'.

### Нагрузка на систему по часам

In [34]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

2018-04-30T21:37:41Z

{}

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

На практике все сложнее https://habr.com/ru/post/452584/

# Задача про интервалы
Имеется список отсортированных по возрастанию целых чисел data. А также целое число n, которое лежит между минимальным и максимальным значениями из списка data. Вам необходимо определить минимальное ближайшее число к n из списка data.

Пример:
```python
data = [1, 7, 17, 23, 27, 35, 65]
n = 20
```

Ответ: 17

Подобные алгоритмы используются для классификации объекта по значению одной метрики. Например, это может пригодиться для классификации учащегося по его возрасту:
```python
ages = {
    1: 'дети',
    7: 'школьники',
    17: 'студенты',
    23: 'аспиранты',
    27: 'молодые ученые',
    35: 'преподаватели',
    65: 'пенсионеры',
}
```

Итого напишите функцию, которая по списку data и числу n возвращает минимальное ближайшее к n число. Список может быть любым, поэтому не рассчитывайте на написание цепочки условий через if.

Бонусные варианты:
1. Рассмотрите ситуацию, в которой при фиксированном списке data вам необходимо классифицировать большое количество пользователей с разными значениями n. Например, вам необходимо классифицировать базу из 100 миллионов человек по возрастам по словарю ages из примера выше. Можно ли в таком случае ускорить проход по такому числу пользователей?

2. Если вы решали основное задание перебором элементов списка data и сравнением с n, то сложность такого алгоритма O(N). Т. е. при увеличении числа элементов списка data в N раз время работы алгоритма тоже вырастет в N раз. Попробуйте ускорить этот алгоритм. Например, с помощью аналога бинарного поиска.